 <% if(success && success.length){ %>
 <div class="alert alert-success alert-dismissible fade show" role="alert"> <!-- here role is for screen reader so that it will just announce that it is alert class -->
    <%=success %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
<% } %>

<% if(error && error.length){ %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert"> <!-- here role is for screen reader so that it will just announce that it is alert class -->
       <%=error %>
       <button type="button" class="close" data-dismiss="alert" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
   </div>
   <% } %>
